
<div class="container text-center principal">
    <div class="row">
      <!--seccion MENU/LOGO/FORM 4 PARTES-->
      <div class="col-sm-4" class="container">
        <a href="/Login.html">
        <div class="logo class= text-center">
          <img src="../../../assets/img/logo 1_Mesa de trabajo 1.png" class="img-fluid "  >
        </div></a>
          <div class="bienvenido">
            <h1>Perfil</h1>
          </div>
          <div>
            <img class="imagen" src="../../../assets/img//icono-user.png"> 
        </div>
          <div class="cont-form">
  
            <form action="" class="form" id="form" autocomplete="off">
              <p class="form-titulo"></p>
  
              <div class="form-input myNombre">
                <input type="text"  class="form-control"   id="myname" placeholder="Nombre">
                <label for="myname"></label>
                <p class="mensajeError"></p>
              </div>
  
              <div class="form-input myApellido">
                <input type="text"  class="form-control"  id="surname" placeholder="Apellidos">
                <label for="surname"></label>
                <p class="mensajeError"></p>
              </div>
  
              <div class="form-input myEmail">
                <input type="email"  class="form-control"  id="email" placeholder="Correo electrónico">
                <label for="email"></label>
                <p class="mensajeError"></p>
              </div>
  
              <div class="form-input myTelefono">
                <input type="text"  class="form-control"  id="mobile" placeholder="Celular">
                <label for="mobile"></label>
                <p class="mensajeError"></p>
              </div>
  
              <div class="form-input myPassword">
                <input type="password"  class="form-control"  id="password" placeholder="Contraseña">
                <label for="password"></label>
                <p class="mensajeError"></p>
              </div>
  
              <div class="form-input myRepeatPassword">
                <input type="password"   class="form-control" id="repeatPassword" placeholder="Repetir contraseña">
                <label for="repeatPassword"> </label>
                <p class="mensajeError"></p>
              </div>
  
              <button type="submit " class=" btn btn-outline-light">Guardar</button>
            </form>
          </div>
        </div>
