<!-- <div class="formulario">
  <div class="registrar">
    <h1>Registrar</h1>
    <form (ngSubmit)="createUser()" #createForm="ngForm">
      <div class="input">
        <label for="name">Nombre</label>
        <input
          type="text"
          name="username"
          placeholder="Usuario"
          [(ngModel)]="username"
          required
        />
      </div>
      <div class="input">
        <label for="name">Apellido</label>
        <input
          type="text"
          name="username"
          placeholder="Usuario"
          [(ngModel)]="username"
          required
        />
      </div>
      <div class="input">
        <label for="name">identificacion</label>
        <input
          type="text"
          name="username"
          placeholder="Usuario"
          [(ngModel)]="username"
          required
        />
      </div>
      <div class="input">
        <label for="email">Email</label>
        <input
          type="text"
          name="email"
          placeholder="Email"
          [(ngModel)]="email"
          required
        />
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          [(ngModel)]="password"
          required
        />
      </div>
      <div class="input">
        <label for="password">Confirm Password</label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          [(ngModel)]="password"
          required
        />
      </div>
      <div>
        <input type="checkbox"  class="form-check-input" id="termsAndConditions">
        <label for="termsAndConditions">He leído y acepto los </label>
        <a href="#">Términos y Condiciones</a>
      </div>
      <div>
        <input type="checkbox"  class="form-check-input" id="termsAndConditions">
        <label for="termsAndConditions">He leído, entiendo y autorizo el tratamiento de mis datos personales de acuerdo con la </label>
        <a href="#">Política de Tratamiento de Datos de Carroya y su Política de Datos de Navegación/Cookies de Carroya.com</a>
      </div>
      <button type="submit" class="boton" [disabled]="!createForm.form.valid">
        CHECK IN
      </button>
    </form>
  </div>
</div> -->

<div class="container text-center principal">
  <div class="row">
    <!--seccion MENU/LOGO/FORM 4 PARTES-->
    <div class="col-sm-4" class="container">
      <a href="/Login.html">
      <div class="logo class= text-center">
        <img src="../../../assets/img/logo 1_Mesa de trabajo 1.png" class="img-fluid "  >
      </div></a>
        <div class="bienvenido">
          <h1>Regístrate</h1>
        </div>

        <div class="cont-form">

          <form action="" class="form" id="form" autocomplete="off" (ngSubmit)="createUser()" #createForm="ngForm">
            <p class="form-titulo"></p>

            <div class="form-input myNombre">
              <input type="text"  class="form-control"   id="myname" placeholder="Nombre">
              <label for="myname"></label>
              <p class="mensajeError"></p>
            </div>

            <div class="form-input myApellido">
              <input type="text"  class="form-control"  id="surname" placeholder="Apellidos">
              <label for="surname"></label>
              <p class="mensajeError"></p>
            </div>

            <div class="form-input myEmail">
              <input type="email"  class="form-control"  id="email" placeholder="Correo electrónico">
              <label for="email"></label>
              <p class="mensajeError"></p>
            </div>

            <div class="form-input myTelefono">
              <input type="text"  class="form-control"  id="mobile" placeholder="Celular">
              <label for="mobile"></label>
              <p class="mensajeError"></p>
            </div>

            <div class="form-input myPassword">
              <input type="password"  class="form-control"  id="password" placeholder="Contraseña">
              <label for="password"></label>
              <p class="mensajeError"></p>
            </div>

            <div class="form-input myRepeatPassword">
              <input type="password"   class="form-control" id="repeatPassword" placeholder="Repetir contraseña">
              <label for="repeatPassword"> </label>
              <p class="mensajeError"></p>
            </div>

            <div class="form-termsAndConditions myTermsAndConditions container">
              <input type="checkbox"  class="form-check-input" id="termsAndConditions">
              <label for="termsAndConditions">He leído y acepto los </label>
              <a href="#">Términos y Condiciones</a>
              <p class="mensajeError"></p>
            </div>
            <div class="form-termsAndConditions myTermsAndConditions container">
              <input type="checkbox"  class="form-check-input" id="termsAndConditions">
              <label for="termsAndConditions">He leído, entiendo y autorizo el tratamiento de mis datos personales de acuerdo con la  </label>
              <a href="#">Política de Tratamiento de Datos de Carroya y su Política de Datos de Navegación/Cookies de Carroya.com</a>
              <p class="mensajeError"></p>
            </div>

            <button type="submit " class="boton btn btn-outline-light" [disabled]="!createForm.form.valid">Enviar</button>
          </form>
        </div>
      </div>