/* .navegacion {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: 10px 20px;
  background-color: #9d9090;
  box-shadow: 0 0 12px;
  margin: 0px 10px 0 10px;
  text-decoration: none;
  list-style: none;
  border: none;
  border-radius: 12px;
  font-size: 23px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
 */