/* You can add global styles to this file, and also import other style files */
body{
   /* background-color: #7d6e6e; */
   background-image: url('./assets/img/carro\ 1.jpg') ;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-position: center;
}